/* Style the background of the restaurant details container */

.restaurant-info-container {
    background-color: #E7E7E7;
    padding: 30px;
    display: flex;
}

/* Set the width and height of restaurant image */

.restaurant-img {
    max-width: 300px;
    width: auto;
    height: 250px;
}

/* Style the details section with full width and left margin */

.details-section {
    width: 100%;
    margin-left: 5%;
}

/* Set the width and display style for the rating info */

.rating-price-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

/* Set bottom padding for star icon */

.fa-star-icon {
    padding-bottom: 1px;
}

/* Set the font to bold for no of customer */

.no-of-customers {
    font-weight: bold;
}

/* Style the caption text with color and max width */

.caption-text {
    color: grey;
    max-width: 125px;
}

/* Set style flex and space between elements for items/checkout frame */

#items-checkout-container {
    display: flex;
    padding: 3% 5%;
    justify-content: space-between;
}

/* Set the width of items list */

.items-container {
    width: 50%;
    margin-right: 10%;
}

/* Style the category name displayed in all caps */

.category-name {
    text-transform: uppercase;
    font-size: smaller;
    font-weight: 500;
    color: gray;
}

/* Style the menu item with center alignment */

.menu-item-section {
    display: flex;
    align-items: center;
}

/* Style the circle icon for Veg item */

.fa-circle-green {
    color: rgb(18, 136, 53);
    font-size: large;
}

/* Style the circle icon for Non Veg item */

.fa-circle-red {
    color: rgb(180, 36, 16);
    font-size: large;
}

/* Show menu items in Pascal Case */

.menu-item {
    text-transform: capitalize;
}

/* Set the margin for price displayed in the menu */

.item-price {
    margin-left: auto;
}

/* Set the margin for rupee icon displayed in the menu */

.fa-rupee {
    margin-right: 4px;
}

/** Set no wrap for white spaces */

.wrap-white-space {
    white-space: nowrap;
}

/* Set the width for cart/checkout frame */

.cart-checkout-container {
    width: 50%;
}

/** Style the menu items added to cart section */

.cart-menu-item-section {
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
}

/* Style the menu item in cart */

.cart-menu-item {
    text-transform: capitalize;
    color: gray;
}

/* Style the quantity section in cart */

.item-quantity-section {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style the price section in the cart with margin, width and alignment */

.cart-item-price {
    margin-left: auto;
    color: gray;
    min-width: 80px;
    text-align: right;
}

/* Style the total amount in the cart section with flex display and margin */

.total-amount {
    display: flex;
    margin: 5% 0% 0% 0%;
    justify-content: space-between;
}

/* bold font */

.bold {
    font-weight: bold;
}

/* Set the padding checkout card */

.cart-checkout-card {
    padding: 3%;
}

/* Set the style based on screen width */

@media(max-width: 700px) {
    /* set the alignment for the restaurant info to show column wise on small screens*/
    .restaurant-info-container {
        flex-direction: column;
        align-items: center;
    }
    /* align the text to center */
    .details-section {
        text-align: center;
    }
    /* use the full width on small view */
    .rating-price-container {
        width: 100%;
    }
    /* Show items/cart vertically in small screens */
    #items-checkout-container {
        flex-direction: column;
    }
    /* Show the menu items with full screen width */
    .items-container {
        width: 100%;
    }
    /* Show the cart/checkout container with full screen width */
    .cart-checkout-container {
        width: 100%;
        margin: auto;
    }
}

/* Set the style for low screen width like small mobiles */

@media(max-width:350px) {
    /* Set the size of restaurant image for small screens */
    .restaurant-img {
        max-width: 250px;
        width: auto;
    }
}